 <div style="text-align: center;">
  <!--<h1>
       RBS
  </h1> -->
  <div class="container">
     <div class="row">
       <div class="col-md-12 text-center">
         <h2 class="animate-charcter"> Retail Banking System</h2>
       </div>
     </div>
   </div>
  <nav class="navbar navbar-expand-lg bg-light">
     <div class="container-fluid">
       <a class="navbar-brand" href="#">Login/Logout</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" [routerLink]="['/add']">Add Customer</a>
           </li>
           <!-- <li class="nav-item">
               <a class="nav-link active" aria-current="page" [routerLink]="['login']">Login</a>
             </li> -->
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" [routerLink]="['/loan']">Loan</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" [routerLink]="['/customer']">customer</a>
             </li>
            
         </ul>
       </div>
     </div>
   </nav>
  
  </div>
  <router-outlet></router-outlet>

  